#saddle_finder {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
#saddle_finder .sf_cover__img {
  position: relative;
  display: inline-block;
}
#saddle_finder .sf_cover__img button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
}
#saddle_finder h2 {
  text-align: center;
}
#saddle_finder img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#saddle_finder label {
  padding: 1rem;
}
#saddle_finder .st_step a {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}
#saddle_finder .st_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}
#saddle_finder .sf_step__buttons a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
#saddle_finder .sf_step1__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
#saddle_finder .sf_step1__buttons a {
  padding: 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
#saddle_finder .sf_step1__buttons a.sf_step1__button_M {
  color: #33CC33;
}
#saddle_finder .sf_step1__buttons a.sf_step1__button_F {
  color: #00CCCC;
}
#saddle_finder .sf_step2__buttons {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 320px) {
  #saddle_finder .sf_step2__buttons {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 600px) {
  #saddle_finder .sf_step2__buttons {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
  }
}
#saddle_finder .sf_step2__buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #33CC33;
}
#saddle_finder .sf_step2__buttons a:hover {
  background-color: #33CC33;
  color: #fff;
}
#saddle_finder .sf_step2__buttons a img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 120px;
}
@media screen and (min-width: 480px) {
  #saddle_finder .sf_step2__buttons a img {
    height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  #saddle_finder .sf_step2__buttons a img {
    height: 230px;
  }
}
#saddle_finder .sf_step2__buttons a label {
  padding: 1rem;
}
#saddle_finder .sf_step3__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 480px) {
  #saddle_finder .sf_step3__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
#saddle_finder .sf_step3__buttons a {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #33CC33;
}
@media screen and (min-width: 1024px) {
  #saddle_finder .sf_step3__buttons a {
    padding: 4rem;
  }
}
#saddle_finder .sf_step3__buttons a.woman {
  color: #00CCCC;
}
#saddle_finder .sf_step3__buttons a.sf_step1__button_M {
  color: #33CC33;
}
#saddle_finder .sf_step3__buttons a.sf_step1__button_F {
  color: #00CCCC;
}
#saddle_finder .sf_step__question {
  text-align: center;
  margin: 1rem;
  max-width: 550px;
  margin: 0 auto 3rem;
}
#saddle_finder .sf_step__question p {
  margin: 0;
}
#saddle_finder .sf_step__question h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: none;
  font-size: 1.5rem;
  letter-spacing: normal;
  margin: 1rem;
  margin-top: 3rem;
}
#saddle_finder .sf_step__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}
#saddle_finder .sf_step__nav button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #33CC33;
}
#saddle_finder .sf_step__nav button i {
  padding-right: 1rem;
}
#saddle_finder .sf_result a {
  text-decoration: none;
  color: #33CC33;
  background: none;
  font-size: 12px;
  font-weight: 500;
}
#saddle_finder .sf_result__list {
  display: -ms-grid;
  display: grid;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1200px) {
  #saddle_finder .sf_result__list {
    -ms-grid-columns: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
  }
}
#saddle_finder .sf_product_mainitem {
  display: -ms-grid;
  display: grid;
}
@media screen and (min-width: 1024px) {
  #saddle_finder .sf_product_mainitem {
    -ms-grid-columns: 3fr 1fr 3fr;
    grid-template-columns: 3fr 1fr 3fr;
  }
}
#saddle_finder .sf_product_mainitem .sf_product_mainitem__img img {
  min-width: 400px;
  padding: 1rem;
}
#saddle_finder .sf_product_mainitem .sf_product_mainitem__gallery {
  cursor: pointer;
}
#saddle_finder .sf_product_mainitem .sf_product_mainitem__gallery img {
  padding: 1rem 1rem 0 0;
}
#saddle_finder .sf_product_mainitem .sf_product_mainitem__description {
  padding: 0 3rem 0 1rem;
}
#saddle_finder .sf_result__items {
  padding: 0 1rem;
}