
.container {
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
 }
 .container:before,
 .container:after {
  content:" ";
  display:table
 }
 .container:after {
  clear:both
 }
 @media(min-width:768px) {
  .container {
   width:750px
  }
 }
 @media(min-width:992px) {
  .container {
   width:970px
  }
 }
 @media(min-width:1200px) {
  .container {
   width:1170px
  }
 }



 $sf_green:#33CC33;
 $sf_blue:#00CCCC;
 $sf_lightgray:#f6f6f6;
 $sf_white:#fff;
 #saddle_finder {
  padding-top:50px;
  padding-bottom:50px;
  background-color:$sf_lightgray;
  img{
    max-width: 100%;  
    max-height: 100%;
    object-fit: contain;
  }
    label{
        padding: 1rem;
    }
  .st_step a{
   background-color:$sf_white;
   display: flex;
   font-weight: bold;
  }
  .st_step{
    display: flex;
    flex-direction: column;
  }
  .sf_step__buttons a{
    flex: 1 1 100%;
    box-sizing: border-box;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  // Step 1
  .sf_step1__buttons{
    display: flex;
    gap: 1rem;
  }
  .sf_step1__buttons a{
    padding: 4rem;
    flex: 1 1 100%;
    box-sizing: border-box;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &.sf_step1__button_M{
        color: $sf_green;
    }
    &.sf_step1__button_F{
        color: $sf_blue;
    }
  }
  // Step 2
  .sf_step2__buttons{
    display: grid;
    gap: 1rem;
    @media screen and (min-width: 320px) {
      grid-template-columns: auto auto;
    }
    @media screen and (min-width: 600px) {
      grid-template-columns: auto auto auto;
    }
    a{
        display: flex;
        justify-content: space-between;
        color: $sf_green;
        &:hover{
            background-color: $sf_green;
            color: $sf_white;
        }

        img{
          object-fit: cover;
          // align top
          object-position: top;
          height: 120px;
          @media screen and (min-width: 480px) {
            height: 150px;
          }
          @media screen and (min-width: 1024px) {
              height: 230px;
          }
        }
        
        label{
            padding: 1rem;
        }
    }
  }
  // Step 3
  .sf_step3__buttons{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    @media screen and (min-width: 480px) {
      flex-direction: row;
    }
  }
  .sf_step3__buttons a{
    padding: 1rem;
    @media screen and (min-width: 1024px) {
      padding: 4rem;
    }
    flex: 1 1 100%;
    box-sizing: border-box;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $sf_green;
    &.woman{
      color: $sf_blue;
    }
    &.sf_step1__button_M{
        color: $sf_green;
    }
    &.sf_step1__button_F{
        color: $sf_blue;
    }
  }
  .sf_step__question{
    text-align: center;
    margin: 1rem;
    max-width: 550px;
    margin: 0 auto;
    p{
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
    }
    h2{
        font-size: 1rem;
        line-height: 1;
    }
  }
  .sf_step__nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1rem;
      button{
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: $sf_green;
      }
    }
    .sf_result__list{
      display: grid;
      grid-template-columns: 4fr 1fr;
    }
    .sf_product_mainitem{
      display: grid;
      grid-template-columns: 3fr 1fr 3fr;
      .sf_product_mainitem__img img{
        min-width: 400px;
        padding: 1rem;
      }
      .sf_product_mainitem__gallery{
        cursor: pointer;
        img{
          padding: 1rem 1rem 0 0;
        }
      }
      .sf_product_mainitem__description{
        padding: 0 3rem 0 1rem;
      }
    }
    .sf_result__items{
      padding: 0 1rem;
    }
 }




